/* banner icon as date*/

.myhome .banner-emoji {
  content: url("https://api.wolai.com/v1/icon?type=1&locale=en&pro=0&color=grey");
  font-size: xxx-large;
}

.myhome .banner-header-title {
  margin-left: 10px;
}
